{% extends 'base.html.twig' %}

{% block title %}Главная{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>Чтоб перейти к розыгрышу призов вам необходимо войти в систему.</h3>
            </div>
        </div>
    </div>

{% endblock %}
