{% extends 'base.html.twig' %}

{% block title %}Лотерея{% endblock %}

{% block body %}
    <div class="wrapper align-content-center">
        <h1 class="color-white">Испытай удачу. Нажми кнопку</h1>

        <div class="arrow-8"></div>

        <div id="draw" class="box"><span></span></div>
    </div>
{% endblock %}
